<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pjSeletivo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServerTeste</display-name>
    <servlet-name>ServerTeste</servlet-name>
    <servlet-class>servidor.ServerTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerTeste</servlet-name>
    <url-pattern>/ServerTeste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Server</display-name>
    <servlet-name>Server</servlet-name>
    <servlet-class>servidor.Server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Server</servlet-name>
    <url-pattern>/Server</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerCandidato</display-name>
    <servlet-name>ServerCandidato</servlet-name>
    <servlet-class>servidor.ServerCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerCandidato</servlet-name>
    <url-pattern>/ServerCandidato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerExperiencia</display-name>
    <servlet-name>ServerExperiencia</servlet-name>
    <servlet-class>servidor.ServerExperiencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerExperiencia</servlet-name>
    <url-pattern>/ServerExperiencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerUploade_1</display-name>
    <servlet-name>ServerUploade_1</servlet-name>
    <servlet-class>servidor.ServerUploade_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerUploade_1</servlet-name>
    <url-pattern>/ServerUploade_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerUploadeAtualiza_1</display-name>
    <servlet-name>ServerUploadeAtualiza_1</servlet-name>
    <servlet-class>servidor.ServerUploadeAtualiza_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerUploadeAtualiza_1</servlet-name>
    <url-pattern>/ServerUploadeAtualiza_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerUploadeAtualiza</display-name>
    <servlet-name>ServerUploadeAtualiza</servlet-name>
    <servlet-class>servidor.ServerUploadeAtualiza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerUploadeAtualiza</servlet-name>
    <url-pattern>/ServerUploadeAtualiza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerArquivo</display-name>
    <servlet-name>ServerArquivo</servlet-name>
    <servlet-class>servidor.ServerArquivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerArquivo</servlet-name>
    <url-pattern>/ServerArquivo</url-pattern>
  </servlet-mapping>
</web-app>